# .NET
bin/
obj/
*.user
*.suo
*.vs/
*.DotSettings
*.csproj.user
*.dbmdl
*.jfm
*.log
**/[Rr]elease/
**/[Dd]ebug/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
Thumbs.db

# Database
*.mdf
*.ldf

# Node
node_modules/

# Local config
.gitee-token
auto-sync.sh

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
